---
extends: default

rules:
  line-length:
    max: 256
    allow-non-breakable-words: true
    level: warning
  indentation:
    spaces: 2
    indent-sequences: true
  comments:
    min-spaces-from-content: 1
  document-start:
    present: true
  truthy:
    allowed-values: ['true', 'false', 'on', 'off']
  key-ordering: disable
